In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movies_clean.csv', parse_dates=['release_date'])

In [3]:
credits = pd.read_csv('credits.csv')

In [4]:
credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [5]:
#first drop duplicates in credit table
credits.drop_duplicates(subset = 'id', inplace = True)

In [6]:
#check duplicate remove
credits.id.value_counts()

2047      1
8128      1
34170     1
38264     1
327029    1
         ..
61999     1
33765     1
176867    1
376934    1
276895    1
Name: id, Length: 45432, dtype: int64

In [7]:
df[~df.id.isin(credits.id)]

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path
42467,401840,School's out,NaN,2017-05-30,NaN,NaN,es,NaN,NaN,NaN,NaN,0.0,NaN,0.207775,NaN,Two high school kids mentored by a nightclub o...,NaN,/4JI7Ica5I54xrU5T5htx9LwhHcV.jpg

In [8]:
df = df.merge(credits, how = 'left', left_on = 'id', right_on = 'id')

In [9]:
df

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget_musd,revenue_musd,production_companies,production_countries,vote_count,vote_average,popularity,runtime,overview,spoken_languages,poster_path,cast,crew
0,862,Toy Story,NaN,1995-10-30,Animation|Comedy|Family,Toy Story Collection,en,30.0,373.554033,Pixar Animation Studios,United States of America,5415.0,7.7,21.946943,81.0,"Led by Woody, Andy's toys live happily in his ...",English,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,Roll the dice and unleash the excitement!,1995-12-15,Adventure|Fantasy|Family,NaN,en,65.0,262.797249,TriStar Pictures|Teitler Film|Interscope Commu...,United States of America,2413.0,6.9,17.015539,104.0,When siblings Judy and Peter discover an encha...,English|Français,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,1995-12-22,Romance|Comedy,Grumpy Old Men Collection,en,NaN,NaN,Warner Bros.|Lancaster Gate,United States of America,92.0,6.5,11.712900,101.0,A family wedding reignites the ancient feud be...,English,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,Waiting to Exhale,Friends are the people who let you be yourself...,1995-12-22,Comedy|Drama|Romance,NaN,en,16.0,81.452156,Twentieth Century Fox Film Corporation,United States of America,34.0,6.1,3.859495,127.0,"Cheated on, mistreated and stepped on, the wom...",English,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,1995-02-10,Comedy,Father of the Bride Collection,en,NaN,76.578911,Sandollar Productions|Touchstone Pictures,United States of America,173.0,5.7,8.387519,106.0,Just when George Banks has recovered from his ...,English,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44980,439050,Subdue,Rising and falling between a man and woman,NaT,Drama|Family,NaN,fa,NaN,NaN,NaN,Iran,1.0,4.0,0.072051,90.0,Rising and falling between a man and woman.,فارسی,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
44981,111109,Century of Birthing,NaN,2011-11-17,Drama,NaN,tl,NaN,NaN,Sine Olivia,Philippines,3.0,9.0,0.178241,360.0,An artist struggles to finish his work while a...,NaN,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
44982,67758,Betrayal,A deadly game of wits.,2003-08-01,Action|Drama|Thriller,NaN,en,NaN,NaN,American World Pictures,United States of America,6.0,3.8,0.903007,90.0,"When one of her hits goes wrong, a professiona...",English,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
44983,227506,Satan Triumphant,NaN,1917-10-21,NaN,NaN,en,NaN,NaN,Yermoliev,Russia,0.0,NaN,0.003503,87.0,"In a small town live two brothers, one a minis...",NaN,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
44984,461257,Queerama,NaN,2017-06-09,NaN,NaN,en,NaN,NaN,NaN,United Kingdom,0.0,NaN,0.163015,75.0,50 years after decriminalisation of homosexual...,English,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [22]:
#clean cast column
import ast
import numpy as np

In [21]:
df.cast = df.cast.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

SyntaxError: invalid syntax (<unknown>, line 1)

In [12]:
df.cast

0        [{'cast_id': 14, 'character': 'Woody (voice)',...
1        [{'cast_id': 1, 'character': 'Alan Parrish', '...
2        [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3        [{'cast_id': 1, 'character': 'Savannah 'Vannah...
4        [{'cast_id': 1, 'character': 'George Banks', '...
                               ...
44980    [{'cast_id': 0, 'character': '', 'credit_id': ...
44981    [{'cast_id': 1002, 'character': 'Sister Angela...
44982    [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
44983    [{'cast_id': 2, 'character': '', 'credit_id': ...
44984                                                   []
Name: cast, Length: 44985, dtype: object

In [13]:
#can put to dataframe
pd.DataFrame(df.cast[0])

,cast_id,character,credit_id,gender,id,name,order,profile_path
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg
5,19,Hamm (voice),52fe4284c3a36847f8024fa9,2,7907,John Ratzenberger,5,/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg
6,20,Bo Peep (voice),52fe4284c3a36847f8024fad,1,8873,Annie Potts,6,/eryXT84RL41jHSJcMy4kS3u9y6w.jpg
7,26,Andy (voice),52fe4284c3a36847f8024fc1,0,1116442,John Morris,7,/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg
8,22,Sid (voice),52fe4284c3a36847f8024fb1,2,12901,Erik von Detten,8,/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg
9,23,Mrs. Davis (voice),52fe4284c3a36847f8024fb5,1,12133,Laurie Metcalf,9,/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg
10,24,Sergeant (voice),52fe4284c3a36847f8024fb9,2,8655,R. Lee Ermey,10,/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg
11,25,Hannah (voice),52fe4284c3a36847f8024fbd,1,12903,Sarah Freeman,11,None
12,27,TV Announcer (voice),52fe4284c3a36847f8024fc5,2,37221,Penn Jillette,12,/zmAaXUdx12NRsssgHbk1T31j2x9.jpg

In [20]:
df["cast_size"] = df.cast.apply(lambda x: len(x))

TypeError: object of type 'float' has no len()

In [14]:
df.cast = df.cast.apply(lambda x: "|".join(i['name'] for i in x) if isinstance(x, list) else np.nan)

In [15]:
df.cast.value_counts().head(50)

                                          2359
Georges Méliès                              24
Louis Theroux                               15
Mel Blanc                                   12
Jimmy Carr                                   9
David Attenborough                           8
George Carlin                                8
Werner Herzog                                8
Louis C.K.                                   8
Patton Oswalt                                6
Jim Jefferies                                6
Doug Stanhope                                6
Trevor Noah                                  6
Ricky Gervais                                6
Kenneth Branagh                              5
Eddie Izzard                                 5
Dylan Moran                                  5
Jim Gaffigan                                 5
Lewis Black                                  5
Bill Burr                                    5
Bill Maher                                   5
Robin Williams                               4
Craig Ferguson                               4
Walt Disney                                  4
Jeff Dunham                                  4
Bill Hicks                                   4
Lisa Lampanelli                              4
Russell Brand                                4
Slavoj Žižek                                 4
Margaret Cho                                 4
John Pilger                                  4
Katt Williams                                4
Dave Attell                                  4
Hannibal Buress                              4
Don Hertzfeldt                               4
Spalding Gray                                3
David Lynch                                  3
Peter Sallis                                 3
Gabriel Iglesias                             3
Wanda Sykes                                  3
Noam Chomsky                                 3
Sebastian Maniscalco                         3
Chris Rock                                   3
Iliza Shlesinger                             3
Tilda Swinton                                3
Amy Schumer                                  3
Mel Blanc|Arthur Q. Bryan                    3
Jimi Hendrix|Billy Cox|Mitch Mitchell        3
Buster Keaton|Virginia Fox|Joe Roberts       3
Russell Howard                               3
Name: cast, dtype: int64

In [16]:
df.cast.replace("", np.nan, inplace = True)

In [17]:
df.crew = df.crew.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [18]:
df.crew

0        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2        [{'credit_id': '52fe466a9251416c75077a89', 'de...
3        [{'credit_id': '52fe44779251416c91011acb', 'de...
4        [{'credit_id': '52fe44959251416c75039ed7', 'de...
                               ...
44980    [{'credit_id': '5894a97d925141426c00818c', 'de...
44981    [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
44982    [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
44983    [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
44984    [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 44985, dtype: object

In [19]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i ['name']
    return np.nan